.main-page {
  background-color: white;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  /* padding-top: 50px; */
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* top info */
.main-page-top{
  width: 100vw;
  height: 35vh;
  background-color: var(--color2);
  margin-bottom: 32px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.main-page-top-content{
  width: 80vw;
}

.main-page-top-content>h1{
  font-size: 4vh;
  color: var(--color5);
}

.main-page-top-info{
  margin: 2vh 0;
}

.main-page-top-info>p{
  font-size: 2vh;
  margin-bottom: 3vh;
}

.main-session-links{
  margin-top: 2vh;
}

.main-session-links>a{
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 1.5vh;
  padding: 10px 15px;
  font-weight: bold;
  color: white;
  background-color: #F28705;
  /* margin-top: -0.9em; */
  z-index: 1;
  border-radius: 25px;
  border: none;
  margin-right: 1vw;
  cursor: pointer;
}

.main-session-links>a:hover{
  -webkit-filter: brightness(120%);
}


/* main content */
.main-page-introduction{
  /* width: 80vw; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.main-page-introduction>div{
  width: 100vw;
  border-bottom: solid 1px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-introduction-section{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  padding: 3vh 0;
}

.main-page-introduction-info{
  width: 30vw;
  font-size: 2vh;
}

.main-page-introduction-info>h2{
  font-size: 2.5vh;
  color: var(--color1);
  margin-bottom: 2vh;
}

.main-page-introduction-section>img{
  max-width: 40vw;
}

.chart-wrapper-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1600px;
  margin: 0 auto 32px;
}

.chart-wrapper {
  /* background-color: aliceblue; */
  background-color: white;
  padding: 2em;
  /* border-radius: 6px; */
  /* border: solid 1px gray; */
  /* border-top: solid 1px gray; */
  /* border-bottom: solid 1px gray; */
  margin: 0 auto;
}

.chart-title {
  height: 36px;
  display: flex;
  justify-content: center;
  /* background-color: aliceblue; */
  background-color: white;
  margin-bottom: 18px;
}

.today-stats {
  margin-bottom: 10px;
}

.price, .amount {
  font-size: 38px;
}

.amount-unit {
  font-size: 18px;
}

.delta-neg {
  font-size: 24px;
  font-weight: bold;
  color: #ff5000;
  padding: 8px 0 8px 20px;
}

.delta-pos {
  font-size: 24px;  
  font-weight: bold;
  color: #09A603;
  padding: 8px 0 8px 20px;
}

.exchange-count, .close-price {
  /* padding-left: 100px; */
  font-size: 24px;
  font-weight: bold;
  color: gray;

}

.today {
  color: black;
  font-size: 18px;
  font-weight: normal;
}

.barchart-container {
  width: fit-content;
  height: fit-content;
  margin: 0;
  /* margin-left: -20px; */
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 50px; */
}

.linechart-container {
  width: fit-content;
  height: fit-content;
  margin: 0;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 100px; */
}

.graph-container {
  width: 500px;
  height: fit-content;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.x-axis .tick {
  opacity: 0;
}

.cafeteria-links-container{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cafeteria-links-container a {
  text-decoration: none;
}



.link-item {
  width: 50%;
  margin: 0;
  padding: 0.25em;
  
}

.cafe-link {
  height: 200px;
  width: 80%;
  display: flex;
  margin: 20px auto;
  padding: 1em;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
  font-size: 36px;
  font-weight: bold;
  justify-content: center;
  color: white;
  text-shadow: -1px 1px 0 #000;
}

.cafe-link:hover{
  color: white;
  font-size: 48px; 
  text-shadow: -1px 1px 0 #000;

}



.cafe-link.deneve {
  background-position: 0 -100px;;
}
.cafe-link.rieber {
  background-position: 0 -300px;;
}
.cafe-link.BruinPlate {
  background-position: 0 -600px;;
}
.cafe-link.covel {
  background-position: 0 -600px;;
}




