.navbar-container {
  background: white;
  height: fit-content;
  border-bottom: solid 1px gray;
}

.navbar-container a {
  text-decoration: none;
}

.navbar-wrapper-top {
  width: 100%;
  height: 62px;
  margin: 0 auto;
  padding: 1em 1em .2em;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-wrapper-bottom {
  width: 100%;
  height: 48px;
  padding: .2em 1em 0;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar-logo {
  width: fit-content;
}

.navbar-logo img {
  height: 40px;
}

.navbar-wrapper-bottom>div {
  margin-right: 4em;
}

.navbar-links-container {
  width: 170px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar-links-container a {
  color: #09A603; 
  font-size: 16px;
  font-weight: bold;
}

.navbar-links-container a:hover {
  color: black;
  /* text-decoration: underline; */
}

.link-wrapper {
  height: 40px;
  width: fit-content;
  padding: 10px 0 10px 0;
  /* margin-right: 4em; */
  color: #09A603;
}

.link-wrapper:hover {
  border-bottom: 4px solid #F28705;
  margin-bottom: -3px;
  height: 44px;
  color: black;
  /* padding-bottom: 18px; */
}

.cafeteria-link, .home-link {
    font-size: 18px;
    font-weight: bold;
    /* color: #09A603; */
    /* color: black; */
    margin: 0 0 0 0;
}

.profile, .post-swipe, .logout {
  height: 30px;
  width: 30px;
  padding: auto;
}

.profile:hover, .post-swipe:hover, .logout:hover {
  border-bottom: 4px solid #F28705;
  margin-bottom: -3px;
}

.logout img {
  height: 26px;
  padding-top: 1px;
  padding-left: 3px;
  cursor: pointer;
}

.profile img {
  height: 27px;


}

.post-swipe img {
  height: 27px;
  margin-left: 4px;
}
