/* Includes css for both cafeteria and swipe index */

/* Cafeteria Show Page CSS */
.cafeteria-show-page {
  background-color: white;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.cafeteria-container {
  width: 80%;
  height: fit-content;
  margin: 2em auto;
  max-width: 1600px;
  background-color: green;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 5%; */
}

.swipe-index {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
  background-color: blue;
  display: flex;
  justify-content: center;
}


.swipe-index-items-container {
  width: fit-content;
  margin: 2em auto 4em;
  padding: 2em;
  padding-left: 10%;
  max-width: 1600px;
  background-color: pink;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: left; */
  column-count: 2;
  
  gap: 80px 10%;
}

.swipe-index-item {
  display: inline-block;
  height: 16em;
  width: 24em;
  margin-top: 2em;
  background-color: white;
}