.swipe-form-main {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--color1);
}

.swipe-form-title{
  color: var(--color1);
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
}

.form-content input[type="text"] {
  font-size: 16px;
}

.form-content select {
  font-size: 16px;
}

.form-content input[type="datetime-local"] {
  font-size: 16px;
}

.form-content input[type="date"] {
  font-size: 16px;
}

.swipe-form-wrapper {
  width: fit-content;
  margin: 100px auto 200px;
  padding: 20px;
  border-color: lightgrey;
  background-color: white;
  border: solid;
  border-color: lightgrey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

.form-content {
  display: flex;
  justify-content: center;
}

.swipe-form-wrapper .input-label {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  padding-left: 0.25em;
  font-size: 18px;
  font-weight: bold;
}

.swipe-form-wrapper form {
  width: fit-content;
}

.swipe-form-wrapper input {

  width: 100%;
  padding: 1em 1em;
}

.swipe-form-wrapper h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  color: black;
  font-weight: bolder;
}

.form-content img {
  margin-left: 40px;
  margin-top: 40px;
}

.select-option-container {
  display: flex;
  justify-content: space-between;
}

.swipe-form-wrapper select {
  width: 50%;
  padding: 1em 1em;
}

.swipe-form-wrapper option {
  width: 50%;
  padding: 1em 1em;
}

.swipe-form-wrapper input[type="submit"] {
  width: 50%;
  margin: 0 25%;
  margin-top: 2em;
  background-color: #5DD959;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
}

.swipe-form-wrapper input[type="submit"]:hover {
  background-color: #09A603;
}