/* Includes css for both cafeteria and swipe index */

/* Cafeteria Show Page CSS */
.cafeteria-show-page {
  background-color: white;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  z-index: 0;
}

.panel-container {
  display: flex;
}

.left-panel {
  width: 80%;
  padding-top: 20px;
  margin-bottom: 120px;
}

.right-panel {
  padding-top: 93px;
  margin-bottom: 120px;
}

.section-title {
  height: 48px;
  padding-top: 10px;
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: gray;
  text-align: center;
}

.linechart-container-cafe, .barchart-container-cafe{
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: solid 1px gray;
}

.map-container {
  height: 400px;
  width: 400px;
  /* margin-right: 2em;
  margin-top: 4em;
  margin-bottom: 64px; */
  margin: 4em auto 64px;
  /* position: sticky; */
  top: 73px;
}

.cafeteria-banner {
  height: 12em;
  overflow: hidden;
  z-index: 1;
}

.cafeteria-banner .rieber {
  width: 100%;
  object-position: center -470px;
  z-index: -1;
}
.cafeteria-banner .covel {
  width: 100%;
  object-position: center -500px;
  z-index: -1;
}

.cafeteria-banner .deneve {
  width: 100%;
  object-position: center -220px;
  z-index: -1;
}

.cafeteria-banner .BruinPlate {
  width: 100%;
  object-position: center -410px;
  z-index: -1;
}

.cafeteria-container {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0 0;
  max-width: 1600px;
  z-index: 1;
}

.cafeteria-name-container {
  height: 73px;
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 52px;
  font-weight: bold;
  color: #09A603;
  background-color: white;
  /* margin-top: -0.9em; */
  z-index: 1;
  /* position: sticky; */
  top: 0px;
}

.cafeteria-name-wrapper {
  border-radius: 25px;
  background-color: white;
  width: fit-content;
  padding: 10px 0.5em;
  z-index: 2;
}

.sort-filter-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 0 10px 25px;
  margin: 20px auto;
  background-color: white;
  /* position: sticky; */
  top: 73px;
}

.filter-container, .sort-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.sort-container {
  width: 60%;
}

.filter-container {
  width: 40%;
}

.filter, .sort {
  font-size: 16px;
  padding: 0.5em 1em;
  border-radius: 20px;
  color: #09A603;
  background-color: white;
  border: 1px solid #09A603;
  margin-right: 0.5em;
  cursor: pointer;
  text-align: center;
}

.sort.selected, .filter.selected {
  color: white;
  background-color: #09A603;
}


.swipe-index {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}




.swipe-index-items-container {
  /* width: 100%; */
  margin: 2em 10% 2em 0;
  padding: 2em;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  column-count: 2;
  gap: 80px 12%;
}

@media screen and (max-width: 1590px) {
  .cafeteria-name-container {
    /* position: sticky; */
    top: 0px;
  }
  
  .sort-filter-container {
    /* position: sticky; */
    top: 73px;
  }
  
  .map-container {
    /* position: sticky; */
    top: 73px;
  }
  
  .swipe-index-items-container {
    justify-content: space-around;
    margin: 0;
  }
}

.swipe-index-item {
  display: inline-block;
  height: 16em;
  width: 24em;
  margin: 0 auto;
  margin-top: 2em;
  padding: 2em;
  /* background-color: #B5F2B3; */
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;

  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: black;
  background: linear-gradient(
     white, white 50%, #B5F2B3 50%, #B5F2B3
  );
  background-size: 100% 202%;
  transition: all 0.1s ease;
  /* animation: down-bump 0.1s ease; */
  cursor: pointer;
}

.swipe-index-item:hover {
  background-position: 100% 100%;
  /* animation: up-bump 0.1s ease; */
}

.swipe-index-item h1 {
  font-size: 48px;
  line-height: 50px;
}

.swipe-index-item h2 {
  /* line-height: 36px; */
  margin-top: 10px;
}

.swipe-index-item h3 {
  color: #999;
  text-align: right;
  line-height: 1.5em;
}

.stripe-container {
  height: 36px;
}

.stripe {
  background-color: black;
  height: 24px;
  margin: 24px -33px 0px;
}

.swipe-index-item:hover h3 {
  color: black;
}
 
/* @keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
} */
