.swipe-show-page {
  background-color: white;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.swipe-info-container {
  width: 80%;
  height: fit-content;
  margin: 2em auto;
  max-width: 1600px;
}

.swipe-info-header{
  font-size: 20px;
}

.post-at {
  font-size: 14px;
  color: gray;
}

.swipe-info-container div {
  padding-top: 5px;
}
/* 
.swipe-info-container span {
  padding-top: 10px;
  font-size: 18px;
} */
.seller-id {
  color: gray;
  font-size: 14px;
}

input[type=button] {
  background-color: #5DD959;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}