.team-wrapper{
  width: 80%;
  height: fit-content;
  margin: 2em auto;
  padding-bottom: 2em;
  max-width: 1600px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;;
}

.team-title{
  font-size: 48px;
  font-weight: 600;
  color: var(--color5);
  text-align: center;
  margin: 48px auto 72px auto
}

.teammates-container{
  display: flex;
}

.teammate{
  width: 300px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teammate img{
  border-radius: 20px;
  margin-bottom: 30px;
}

.teammate h2{
  font-size: 26px;
  margin-bottom: 30px;
}

.teammate h3{
  font-size: 20px;
  color: var(--color5);
  margin-bottom: 30px;
}

.teammate-links a{
  margin: 0 10px
}