:root {
  --color1: #09A603;
  --color2: #5DD959;
  --color3: #B5F2B3;
  --color4: #D2F25E;
  --color5: #F28705;
}

.thread-page-wrapper{
  width: 90%;
  /* height: fit-content; */
  height: 100vh;
  margin: 2em auto;
  margin-bottom: 0;
  padding-bottom: 2em;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;;
}

.thread-page-main{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thread-page-swipe-details{
  display: inline-block;
  height: 16em;
  width: 28em;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
  font-weight: bold;
  color: black;
  background: white;
  background-size: 100% 202%;
  transition: all 0.1s ease;
  /* animation: down-bump 0.1s ease; */
}


.thread-page-swipe-details h1 {
  font-size: 36px;
}

.thread-page-swipe-details h2 {
  font-size: 17px;
  line-height: 22px;
}

.thread-page-swipe-details h3 {
  color: #999;
  text-align: right;
  line-height: 22px;
}


.thread-page-avail-prompt{  
  color: var(--color5);
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}

.deal-success-prompt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
}

.deal-success-prompt>div{
  text-align: center;
}

.deal-success-prompt p{
  margin: 6px 0;
}

.no-longer-avail-prompt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
}

.thread-map-container {
  height: 300px;
  width: 300px;
  background-color: gray;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thread-page-current-seller-offer, .thread-page-current-buyer-offer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 32px;
  height: 10em;
  width: 28em;
  padding: 1em;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
  font-weight: bold;
  color: black;
  background: linear-gradient(
     var(--color3) 50%, var(--color3)
  );
  background-size: 100% 202%;
}

.seller-offer-wrapper, .buyer-offer-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.current-offer-title{
  margin: 10px 0;
  font-size: 20px;
}

.current-offer-price{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 2px solid var(--color5);
  border-radius: 5px;
  font-size: 36px;
  color: var(--color1);
  margin-right: 10px;
}

.current-offer-details{
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* button for showing confirm modal */

.deal-confirm-btn{
  height: 36px;
}

.deal-confirm-btn>button{
  height: 36px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color5);
  color: white
}

.deal-confirm-btn>button:hover{
  -webkit-filter: brightness(80%)
}



/* button for showing input modal */
.input-show-btn{
  height: 36px;
}

.input-show-btn>button{
  height: 36px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color5);
  color: white
}

.input-show-btn>button:hover{
  -webkit-filter: brightness(80%)
}



/* nav buttons */
.thread-page-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.thread-page-nav>button{
  margin: 0 16px;
  width: 150px;
  height: 54px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color5);
  color: white
}

.thread-page-nav>button:hover{
  -webkit-filter: brightness(80%)
}





.thread-page-right{
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
}

.thread-page-comment-wrapper{
  margin: 32px 16px;
  width: 100%;
  background-color:white;
  /* margin-bottom: 16px; */
  /* width: 100%; */
  /* margin-bottom: 32px; */
  width: 28em;
  min-height: 500px;
  padding: 1em;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
  font-weight: bold;
  color: black;
  background: white;
  background-size: 100% 202%;
}

.other-user-name{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px var(--color3) solid;
  color: var(--color1);
}

.other-user-name span{
  font-weight: 700;
  color: black;

}

.other-user-name span:hover {
  transform: scale(1.05);
  color: #F28705;
}

.comment-box{
  min-height: 400px;
}

.otherUser-comment{
  display: flex;
  justify-content: flex-start;
}

.otherUser-comment>div{
  font-weight: 400;
  padding: 5px 10px;
  border: 0.1px var(--color2) solid;
  border-radius: 5px;
  background-color: white;
}

.currentUser-comment{
  display: flex;
  justify-content: flex-end;
  margin: 2px 0;
}

.currentUser-comment>div{
  font-weight: 400;
  padding: 5px 10px;
  border: 0.1px var(--color2) solid;
  border-radius: 5px;
  background-color: var(--color3);
}

.comment-input-box{
  margin-top: 8px;
  border-top: 1px var(--color3) solid;
  padding: 16px 0;
  display: flex;
  justify-content: flex-end;
}

.comment-input-form{
  display: flex;
  justify-content: flex-end;
  width: 16em;
}

.comment-text-input{
  margin-right: 8px;
  background-color: white;
  border: 1px grey solid;
  border-radius: 5px;
  height: 32px;
  width: 98%;
  font-size: 16px;
}

.comment-text-send{
  cursor: pointer;
  background-color: var(--color1);
  border-radius: 5px;
  border: none;
  color: white;
}






/* offer input modal */
.thread-offer-input{
  margin: 32px 16px
}

/* .user-offer-input-wrapper{
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
  font-weight: bold;
  color: black;
  background: var(--color1);
  height: 300px;
  width: 300px;
} */

.user-offer-input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
  padding: 2em;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
  font-weight: bold;
  color: black;
  background: var(--color1);
  color: white;
}

.user-offer-input h1{
  font-size: 32px;
}

.user-offer-input-prompt{
  font-size: 20px;
  color: white;
}

.input-close-x{
  float: right;
  cursor: pointer;
  padding: 5px;
  color: var(--color1);
  margin: 5px;
  font-size: 24px;
  border-radius: 10px;
  font-weight: 500;
}

.input-close-x:hover {
  background-color: #B5F2B3;
}


.offer-input-box{
  display: inline-block;
  position: relative;
}

.offer-input-box input{
  padding-left: 15px;
  height: 48px;
  width: 200px;
  border-radius: 5px;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  color: var(--color1);
  text-align: right;
}

.offer-input-box:before{
  position: absolute;
  line-height: 48px;
  content:"$";
  font-size: 36px;
  left:5px;
	top:2px;
  color: black;
}

.user-offer-input>button{
  border-radius: 5px;
  cursor: pointer;
  height: 48px;
  width: 120px;
  font-size: 32px;
  font-weight: 600;
  background-color: var(--color5);
  color: white
}

.user-offer-input>button:hover{
  -webkit-filter: brightness(80%)
}


#scroll-container {
  border: 2px solid var(--color5);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
}


/* sell buy confirm modal */
.user-offer-confirm-details{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 12em;
  width: 28em;
  padding: 2em;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
  font-weight: bold;
  color: black;
  background: var(--color1);
  color: white;
}

.confirm-close-x{
  float: right;
  cursor: pointer;
  padding: 5px;
  color: var(--color1);
  margin: 5px;
  font-size: 24px;
  border-radius: 10px;
  font-weight: 500;
}

.confirm-close-x:hover {
  background-color: #B5F2B3;
}

.user-offer-confirm-prompt{
  font-size: 28px;
}


.user-offer-confirm-btn{
  height: 36px;
}

.user-offer-confirm-btn>button{
  height: 36px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color5);
  color: white
}

.user-offer-confirm-btn>button:hover{
  -webkit-filter: brightness(80%)
}

.user-offer-confirming-prompt{
  font-size: 20px;
  color: white;
}




/* scroll text */
#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 16s linear infinite;
  -webkit-animation: my-animation 16s linear infinite;
  animation: my-animation 16s linear infinite;
}

@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}