.usershow-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.usershow-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usershow-column {
  text-align: center;
  display: flex;
  height: 400px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;

  background-color: paleturquoise;
}
.usershow-item-container {
  display: flex;
  flex-direction: column;
  background-color: paleturquoise;
  margin: 20px;
}
.usershow-item {
  height: 300px;
  width: 300px;
  overflow-y:auto; 
  overflow-x:hidden;
}

.messages {
  display: inline-block;
  margin-top: 2em;
  padding: 2em;
  background-color: orange;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px #888888;
}












